@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
*{font-family: Pretendard; word-break: keep-all; }

::selection {background-color: black; color: white;}
body {
  background-color: ;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
p {padding: 0; margin: 0;}

.logo {
  position: fixed;
  top:0;
  left: 50%;
  width: 60px;
  height: auto;
  transform: translate(-50%,0);
}

.parti, .tees {
  font-family: Pretendard;
  font-size: 40px;
  margin: 0;
  padding: 0;

  display: inline-block;
  position: fixed;
  top: 5px;
}

input[type="checkbox"] + label , .parti {
  left: 10px;
  cursor: help;
}

.dropdown-p {
  font-size: 20px;
  font-weight:400;
  line-height: 30px;

  display: none;
  position: absolute;
  background-color: white;
  top: 50px;
  left: 8px;

  width: 250px;

  padding: 5px 25px 10px 3px;
  z-index: 1;
}
input[type="checkbox"]{display:none;}
input[id="bt-parti"]:checked ~ .dropdown-p {
  transition: 0.3s linear;
  display: block;
  cursor: help;
}

.tees {
right: 10px;
}

.bg-graphic1 {
  position: fixed;
  z-index: -10;
  height: 98vh;
  width: 100vw;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-gap: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.bg-graphic1 > div {
  margin:auto;
}

.bg-graphic1 > div > img {
  max-height: 250px;
  height: 20vw;
  justify-content: center;
  vertical-align: center;
}

.bg-graphic2 {
  position: fixed;
  left: 50%;
  top: 6.5%;
  transform: translate(-50%,0);
  z-index: -9;
  height: 89vh;

  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-gap: auto;
  grid-template-rows: 1fr 1fr 1fr;
}

.bg-graphic2 > div {
  margin: auto auto;
}

.bg-graphic2 > div > img {
  height: 20vh;
}


.products {
  position: absolute;
  display: grid;
  z-index: -8;
  width: 100vw;
  margin: 75px auto 50px auto;

  height: auto;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto 2fr;
}

.products > div > img {
  width: 23vw;
}

.products > div {
  margin: 0 auto;
}

figcaption {
  font-size: 24px;
  text-align: center;
  line-height: 34px;

  padding: 0px 0 25px 0;
}

.footer {
  font-size: 30px;
  position: fixed;
  bottom:0;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  height: 38px;
  width: 100vw;
  vertical-align: middle;
}

@media (max-width: 1000px) {

  .logo {
    position: fixed;
    top:0;
    left: 50%;
    width: 45px;
    height: auto;
    transform: translate(-50%,0);
  }

.parti, .tees {font-size: 30px;}

figcaption {
  font-size: 20px;
  text-align: center;
  line-height: 27px;

  padding: 3px 0 15px 0;
}

.dropdown-p {
  font-size: 28px;
  font-weight:400;
  line-height: 40px;

  top: 50px;
  left: 0;

  width: 100vw;

  padding: 5px 25px 20px 12px;
  z-index: 1;

}

.bg-graphic2 {
  position: fixed;
  left: 50%;
  top: 6.5%;
  transform: translate(-50%,0);
  z-index: -9;
  height: 89vh;

  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-gap: auto;
  grid-template-rows: 1fr 1fr 1fr;
}

.bg-graphic2 > div {
  margin: auto auto;
}

.bg-graphic2 > div > img {
  height: 15vh;
}
