@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
*{font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;}
::selection {background-color: black; color: white;}
body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.logo {
  position: fixed;
  top:0;
  left: 50%;
  width: 100px;
  height: auto;
  transform: translate(-50%,0);
}

.header {
  display: block;
  position: fixed;

  font-family: Pretendard;
  font-weight:400;
  font-size: 40px;
  margin: 0;
  padding: 0;

  width: 100vw;
}

.header > div {
  display: inline-block;
}

.header > .item:nth-child(1) {
position: absolute;
top: 5px;
left: 10px;
}

.header > .item:nth-child(2) {
position: absolute;
top: 5px;
right: 10px;
}

.bg-graphic1 {
  position: fixed;
  z-index: -10;
  height: 100vh;
  width: 100vw;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-gap: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.bg-graphic1 > div {
  margin:auto;
}

.bg-graphic1 > div > img {
  max-width: 300px;
  height: 15vh;
  justify-content: center;
  vertical-align: center;
}

.bg-graphic2 {
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translate(-50%,0);
  z-index: -9;
  height: 89vh;

  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-gap: auto;
  grid-template-rows: 1fr 1fr 1fr;
}

.bg-graphic2 > div {
  margin: auto auto;
}

.bg-graphic2 > div > img {
  height: 20vh;
}
